@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
/* Mengatur container utama agar memenuhi layar dan menengahkan kartu */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem; /* Jarak agar kartu tidak menempel di tepi layar kecil */
}

/* Kartu putih utama */
.auth-card {
  width: 700px;
  max-width: 1000px; /* Lebar maksimum kartu */
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 2.5rem 3rem;
  box-sizing: border-box; /* Agar padding tidak menambah lebar */
}

/* Bagian header di dalam kartu */
.auth-header {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
}

.auth-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif; 
  font-weight: 400;
  color: #FF44BE
}

/* Styling untuk subtitle */
.auth-subtitle {
  font-size: 1rem;
  color: #777; /* Warna abu-abu, sesuaikan */
  margin-top: 0.3rem; /* Tarik lebih dekat ke 'Welcome!' */
  margin-bottom: 1.5rem;
}